framework: netstandard2.0, net8.0, net48
storage: none
redirects: off
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                           >= 8.0.400 lowest_matching: true

nuget SharpZipLib                           ~> 1.4.2

nuget Fake.Core.ReleaseNotes                ~> 6.1.3
nuget Fake.DotNet.Cli                       ~> 6.1.3
nuget Fake.Tools.Git                        ~> 6.1.3
nuget Fake.Api.GitHub                       ~> 6.1.3

nuget Paket.Core                            ~> 9.0.2

// Tests
nuget NUnit                                 ~> 3.14.0
nuget FsUnit                                ~> 5.6.1
nuget NUnit3TestAdapter                     ~> 4.5.0
nuget Microsoft.NET.Test.Sdk                ~> 17.9.0