id Aardvark.Build
type file
authors Aardvark Platform Team
description Aardvark Native Build Helper
developmentDependency true
files
  ../../bin/publish/standalone-tool/* ==> standalone-tool
  Aardvark.Build.targets ==> build